---
layout: default
---

<div>

  <div id="brickwall">

      <div class="brick-sizer"></div>

    {% for post in site.posts %}
        <div class="brick brick-hidden brick-{{post.categories}} {% if post.cover-width %}brick-width-{{ post.cover-width }}{% endif %} {% if post.cover-height %}brick-height-{{ post.cover-height }}{% endif %}">
          <div class="brick-content" style="background-image: url(/resources/img/{{post.cover}})">
              <span>{{ post.date | date: "%b %-d, %Y" }}</span>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        </div>
    {% endfor %}

  </div>

</div>
