<header class="container">

  <div class="row">
    <ul class="nav nav-pills nav-social pull-right">

      <li>
        <a href="{{site.socials.twitter}}" class="nav-social-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="{{site.socials.pinterest}}" class="nav-social-pinterest">
          <i class="fa fa-pinterest-p"></i>
        </a>
      </li>
      <li>
        <a href="{{site.socials.instagram}}" class="nav-social-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="{{site.socials.facebook}}" class="nav-social-facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>

    </ul>
  </div>

  <div class="row header-brand text-center">A Simple Life</div>


  <nav class="row header-navigation text-center">
    <ul class="list-inline">
      <li><a href="" onclick="return false;" class="nav-recipes">RECIPES</a></li>
      <li><a href="" onclick="return false;" class="nav-travel">TRAVEL</a></li>
      <li><a href="" onclick="return false;" class="nav-wellness">WELLNESS</a></li>
      <li><a href="" onclick="return false;" class="nav-life">LIFE</a></li>
    </ul>
  </nav>

  <nav class="nav header-navigation navbar navbar-fixed-top text-center">
    <ul class="list-inline">
      <li><a href="" onclick="return false;" class="nav-recipes">RECIPES</a></li>
      <li><a href="" onclick="return false;" class="nav-travel">TRAVEL</a></li>
      <li><a href="" onclick="return false;" class="nav-wellness">WELLNESS</a></li>
      <li><a href="" onclick="return false;" class="nav-life">LIFE</a></li>
    </ul>
  </nav>

</header>
