#brickwall {

  $transition-speed: 1s;
  $default-padding: .5em;

  .brick {
    transition: $transition-speed;
    padding: $default-padding;

    &.brick-hidden { opacity: 0; transform: scale(0.001); }
    &.brick-ignored .brick-content .brick-content-details { opacity: 1; }

    .brick-content {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      transition: $transition-speed;

      .brick-content-details {
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: $transition-speed;
        background-color: rgba(0,0,0,.4);
      }

      @include pin-on-hover();
    }

  }

  @mixin brick-layout($brick-height, $nb-columns) {
    $brick-height-px: 1px * $brick-height;
    $brick-sizer: 100% / $nb-columns;

    .brick, .brick-sizer { width: $brick-sizer; }
    .brick { height: $brick-height-px; }

    @if($nb-columns > 1) {
      .brick.brick-width-2 { width: $brick-sizer * 2; }
      .brick.brick-height-2 { height: $brick-height-px * 2; }
    }
  }

  // Phones
  @media (max-width: $screen-xs-max) {
    @include brick-layout(200, 1);
  }

  // Tablets
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include brick-layout(200, 2);
  }
  // Medium desktop
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include brick-layout(200, 3);
  }

  // Large desktop
  @media (min-width: $screen-lg-min) {
    @include brick-layout(250, 4);
  }

}
