$content-margin: 4em;

header {

  margin-bottom: $content-margin;
  background-color: white;

  .nav-social {

    margin: 10px;
    li {
      padding: 2px;
      font-size: 1.4em;

      a {
        transition-duration: 0.5s;
        color: white;
        border-radius: 50%;
        background-color: #dddddd;
        padding: 2px 2px;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        &.nav-social-twitter:hover, &.nav-social-twitter:focus {
          background-color: $twitter-color;
        }
        &.nav-social-pinterest:hover, &.nav-social-pinterest:focus {
          background-color: $pinterest-color;
        }
        &.nav-social-facebook:hover, &.nav-social-facebook:focus {
          background-color: $facebook-color;
        }
        &.nav-social-instagram:hover, &.nav-social-instagram:focus {
          background-color: $instagram-color;
        }
      }
    }
  }

  .header-brand {
    font-family: $brand-font-family;
    font-size: 120px;
  }

  .header-navigation {
    font-family: $headings-font-family;
    font-size: 2em;

    .list-inline > li {
      padding: 0 1.5em;
    }

    a {
      color: $headings-color;
      &:hover {
        text-decoration: none;
        color: $brand-accent-color;
      }
    }

    &.navbar-fixed-top {
      background: white;
      border-bottom: 1px solid;
      box-shadow: 0 0 3px;
      padding-top: 10px;
      transition: transform .5s;
    }
  }

  &.headroom--unpinned {
    .navbar-fixed-top { transform: translateY(-100%); };
  }

  &.headroom--top .navbar-fixed-top { display: none; }

  &.headroom--pinned {
    &.headroom--top .navbar-fixed-top { display: none; }
    &.headroom--not-top .navbar-fixed-top { display: block; transform: translateY(0%); }
  }
}

footer {
  margin-top: $content-margin;
  font-family: $headings-font-family;
  font-size: 1.2em;

  div { margin: 5px 0; }

  .fa {color: $brand-accent-color;}
}

