$content-margin: 4em;

header {

  margin-bottom: $content-margin;

  .nav-social {

    margin: 10px;
    li {
      padding: 2px;
      font-size: 1.4em;

      a {
        transition-duration: 0.5s;
        color: white;
        border-radius: 50%;
        background-color: #dddddd;
        padding: 2px 2px;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        &.nav-social-twitter:hover { background-color: $twitter-color; }
        &.nav-social-pinterest:hover { background-color: $pinterest-color; }
        &.nav-social-facebook:hover { background-color: $facebook-color; }
        &.nav-social-instagram:hover { background-color: $instagram-color; }
      }
    }
  }

  .header-brand {
    font-family: $brand-font-family;
    font-size: 120px;
  }

  .header-navigation {
    font-family: $headings-font-family;
    font-size: 2em;

    .list-inline > li { padding: 0 1.5em; }

    a {
      color: $headings-color;
      &:hover {
        text-decoration: none;
        color: $brand-accent-color;
      }
    }
  }
}

footer {
  margin-top: $content-margin;
  font-family: $headings-font-family;
  font-size: 1.2em;

  div { margin: 5px 0; }

  .fa {color: $brand-accent-color;}
}
