$fa-font-path: "/bower_components/font-awesome/fonts";

// Our variables
$base-font-family: 'Roboto Slab', sans-serif;
$brand-font-family: mathilde, cusive;
$headings-font-family: 'Pompiere', cursive;

$base-font-size:      16px;

$brand-color:         black;
$brand-accent-color:  rgb(189, 47, 72);
$text-color:          #100;

$facebook-color:      #3b5998;
$twitter-color:       #00aced;
$pinterest-color:     #cb2027;
$instagram-color:     #517fa4;

$z1:                  1;
$z2:                  10;
$z3:                  100;

