@mixin pin-on-hover() {
  &:hover .pin-button { opacity: 1; }
}

.pin-button {
  position: absolute !important;
  top: 1em;
  right: 1em;
  opacity: 0;
  transition: .3s;

  a {
    z-index: $z2;
    &:hover {
      box-shadow: 0 0 10px black;
      border-radius: 50%;
      transition: box-shadow .2s;
      cursor: pointer;
    }
  }
}



